body {
    font-family: Arial;
    background: #f3f3f3;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, textarea, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: rgb(25, 255, 25);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.task {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
}

.alta { border-left: 10px solid rgb(255, 56, 56); }
.media { border-left: 10px solid rgb(255, 197, 88); }
.baixa { border-left: 10px solid rgb(181, 255, 181); }